<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include nav.html %}

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome">
                        <p class="hello">Hello.</p>
                        <p class="name">My name is Agata.</p>
                        <p class="name">I'm a Product Designer.</p>
                        <p class="name">&zwnj;</p>
                        <img src="assets/site/agata.svg" alt="Agata" height="140px" width="80px">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="work" class="container section-container">
        <h1 class="section-header">My Work.</h1>
        <p class="section-content">Check out some of my projects.</p>
    </div>
    <div class="grid">
        <div class="grid-sizer">
            <div class="grid-item grid-item--width2">
                <a href="projects/k_ceoso">
                    <img src="/assets/projects/covers/k_ceoso.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Interaction design</span><br>Simplifying the entire fundraising process.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/e_thai">
                    <img src="assets/projects/covers/e_thai.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Brand development</span><br>Reimagining dining experience.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/i_sparka">
                    <img src="assets/projects/covers/i_sparka.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Logo design</span><br>Helping singles to connect and spark.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item grid-item--width2">
                <a href="projects/l_bicyclenetwork">
                    <img src="/assets/projects/covers/l_bicyclenetwork.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Interaction design</span><br>Bike riding made easier for everyone, every day.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/f_treasurehunt">
                    <img src="assets/projects/covers/f_treasurehunt.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Brand development</span><br>Designing escape room you will never want to leave.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/j_bank">
                    <img src="assets/projects/covers/j_bank.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Digital strategy</span><br>Defining future digital sales experience.</div>
                    </div>           
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/g_bluejay">
                    <img src="assets/projects/covers/g_bluejay.png" alt="image" />
                     <div class="overlays"> 
                        <div class="text"><span>Interaction design</span><br>Redefining social radio.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/a_fuelshack">
                    <img src="assets/projects/covers/a_fuelshack.png" alt="image" />
                     <div class="overlays"> 
                        <div class="text"><span>Brand development</span><br>Transforming fast food experience.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/h_mercado">
                    <img src="assets/projects/covers/h_mercado.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Brand development</span><br>The Art Market in the heart of Lisbon, Portugal.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/d_dcode">
                    <img src="assets/projects/covers/d_dcode.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Creative Direction</span><br>Creating immersive coding bootcamp experience.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/n_mcri">
                    <img src="assets/projects/covers/n_mcri.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Illustration</span><br>Helping fund research that transforms child health.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item grid-item--width2">
                    <img src="/assets/projects/covers/m_mercedes.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Interaction design</span><br>Building Affordability Calculator for Mercedes-Benz (coming soon).</div>
                    </div>
            </div>       
            <div class="grid-item">
                <a href="projects/b_malindo">
                    <img src="assets/projects/covers/b_malindo.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Interaction design</span><br>Booking your Malindo flight on the go.</div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="projects/c_sharefolio">
                    <img src="assets/projects/covers/c_sharefolio.png" alt="image" />
                    <div class="overlays"> 
                        <div class="text"><span>Interaction design</span><br>Changing the way how investors connect.</div>
                    </div>
                </a>
            </div>    
        </div>
    </div>

    <div id="about" class="container section-container">
        <h1 class="section-header">About.</h1>
        <div class="content">
            <p class="section-content">{{ site.description }}</p>
            <p class="section-content">
                <a href="https://www.linkedin.com/in/agatadondzik/">LinkedIn</a> / 
                <a href="https://twitter.com/agatadondzik">Twitter</a> / 
                <a href="https://dribbble.com/AgataDondzik">Dribbble</a> / 
                <a href="https://www.behance.net/agatadondzik">Behance</a>
            </p>
        </div>
    </div>

    <div id="contact" class="container section-container section-dark">
        <h1 class="section-header">Contact.</h1>
        <div class="content">
            <p class="section-content section-content-light">If you're interested in a new project, collaboration, or just want to have a coffee, don't hesitate to shoot me an email.</p>
            <p class="section-content section-content-light">{{ ":heart:" | markdownify | remove: '</p>' | remove: '<p>' }}</p>
            
            <p class="section-content"><a href="mailto:youremailaddress">agata (at) agatadondzik.com</a>
        </div>
    </div>

    {% include footer.html %}

    {% include scripts.html %}

</body>

</html>
