<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include nav.html %}

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome">
                        <p class="hello">Hello.</p>
                        <p class="name">My name is {{ site.title }}.</p>
                        <p class="name">I'm a Product Designer.</p>
                        <img src="assets/site/agata.png" alt="Agata" height="162px" width="82px">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="work" class="container section-container">
        <h1 class="section-header">My Work.</h1>
        <p class="section-content">Check out some of my projects.</p>
    </div>
    <div class="grid">
        <div class="grid-sizer">
            {% for image in site.static_files %}
                {% if image.path contains 'projects/covers' %}
                    <div class="grid-item">
                        <a href="projects/{{ image.name | remove: '.png' }}">
                            <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="about" class="container section-container">
        <h1 class="section-header">About.</h1>
        <div class="content">
            <p class="section-content">{{ site.description }}</p>
            <p class="section-content">
                <a href="https://www.linkedin.com/in/agatadondzik/">LinkedIn</a> / 
                <a href="https://twitter.com/agatadondzik">Twitter</a> / 
                <a href="https://dribbble.com/AgataDondzik">Dribbble</a> / 
                <a href="https://www.behance.net/agatadondzik">Behance</a>
            </p>
        </div>
    </div>

    <div id="contact" class="container section-container section-dark">
        <h1 class="section-header">Contact.</h1>
        <div class="content">
            <p class="section-content section-content-light">If you're interested in a new project, collaboration, or just want to have a coffee, don't hesitate to shoot me an email.</p>
            <p class="section-content"><a>agata (at) agatadondzik.com</a></p>
        </div>
    </div>

    {% include footer.html %}

    {% include scripts.html %}

</body>

</html>
